body {
  background-color: var(--background-color);
  font-family: "Futura", sans-serif;
  color: var(--main-textcolor);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset 50%;
          clip-path: inset 50%;
  margin: -1px;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura.ttf") format("truetype");
}
:root {
  --main-textcolor: rgba(76, 82, 114, 1);
  --secondary-textcolor: rgba(161, 165, 186, 1);
  --white: rgb(255, 255, 255);
  --active: rgba(67, 152, 211, 1);
  --main-bg: rgb(225, 229, 240);
  --lines-color: rgba(214, 218, 230, 1);
  --menu-bg: rgba(101, 109, 139, 1);
  --menu-text: rgba(225, 229, 240, 1);
  --action-btn: rgba(228, 157, 62, 1);
  --green-status: rgba(83, 180, 95, 1);
  --red-status: rgba(204, 12, 0, 1);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-bg);
}

.logo__img {
  margin-bottom: 30px;
}

.menu {
  width: 280px;
  height: 1080px;
  padding: 30px;
  background-color: var(--menu-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}
.menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 27px 0px;
  border-top: 2px solid #4e5474;
  cursor: pointer;
}
.menu__user__photo {
  margin-right: 15px;
}
.menu__user__name {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  color: var(--menu-text);
  margin-bottom: 0;
  margin-right: 60px;
}
.menu__nav {
  margin-bottom: 1px;
}
.menu__nav__quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: var(--active);
  color: var(--white, #fff);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
}
.menu__nav__item {
  width: 220px;
  height: 64px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 16px;
  cursor: pointer;
}
.menu__nav__item:hover {
  background-color: rgba(76, 82, 114, 0.3);
}
.menu__nav__link {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  color: var(--menu-text);
}

.current {
  background-color: var(--main-textcolor);
}

.orders {
  padding: 57px 40px 40px 40px;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.orders__title {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
}
.orders__all__btn {
  width: 140px;
  padding: 14px 20px;
  width: 140px;
  padding: 14px 20px;
  border-radius: 10px 10px 0px 0px;
  border-color: transparent;
  background-color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  color: var(--main-textcolor);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .orders__all__btn {
    width: 100px;
  }
}
.orders__options__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.orders__btns__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.orders__filter {
  position: relative;
  width: 284px;
  height: 36px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border: 3px solid var(--white);
}
@media (max-width: 1200px) {
  .orders__filter {
    width: 150px;
  }
}
.orders__filter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.orders__filter__option {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  color: var(--main-textcolor);
  margin-bottom: 0;
}
.orders__filter__search {
  width: 339px;
  height: 36px;
  padding: 8px 16px 8px 48px;
  border-radius: 10px;
  background-color: var(--white);
  border: 3px solid var(--white);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .orders__filter__search {
    width: 150px;
  }
}
.orders__filter__search:focus {
  border: 3px solid var(--active);
  outline: none;
}

.orders__filter:hover {
  border-color: var(--active);
}

.table__section {
  height: 75vh;
  width: 100%;
  overflow: auto;
  padding: 0 20px 18px 20px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
          box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
}

.orders__table {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr 2fr 1fr 1fr 2fr;
}
.orders__table__title {
  position: sticky;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  color: var(--secondary-textcolor);
  text-align: start;
  padding: 18px 5px 0 5px;
  background-color: var(--white);
}
.orders__table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  color: var(--main-textcolor);
  padding: 10.5px 5px;
  white-space: nowrap;
  border-bottom: 1px solid var(--lines-color);
}

.delivered {
  color: var(--green-status);
}

.cancelled {
  color: var(--red-status);
}

.details__btn {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  color: var(--secondary-textcolor);
  padding: 8px 15px;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.details__btn:hover,
.details__btn:focus {
  border-radius: 10px;
  background: #e2f3fe;
  color: var(--active);
}

.details__btn:hover .details-icon,
.details__btn:focus .details-icon {
  stroke: #4398d3;
}

.action__btn {
  width: 160px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--action-btn);
  color: var(--action-btn);
  background-color: var(--white);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  cursor: pointer;
}

.action__btn:hover,
.action__btn:focus {
  color: var(--white);
  background-color: var(--action-btn);
  border-color: var(--white);
}

.pagination {
  width: 100%;
  height: 47px;
  background-color: var(--white);
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid #d6dae6;
  padding: 12px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pagination__title {
  color: var(--secondary-textcolor);
  font-size: 14px;
  font-weight: 500;
  line-height: 112.5%;
  margin-bottom: 0;
}
.pagination__shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.pagination__page__quantity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  width: 62px;
  height: 24px;
  padding: 4px 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid var(--lines-color);
  background: var(--background, #f9f9f9);
  cursor: pointer;
}
.pagination__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.pagination__pages {
  color: var(--secondary-textcolor);
  font-size: 14px;
  font-weight: 500;
  line-height: 112.5%;
}
.pagination__number {
  width: 24px;
  height: 24px;
  padding: 4px 10px;
  border-radius: 4px;
  background: var(--white);
  color: var(--secondary-text, #a1a5ba);
  font-size: 14px;
  font-weight: 400;
  line-height: 112.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.pagination__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}

.inactive-pagination {
  display: none;
}

.active-pagination {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #2583c6;
  top: 25px;
  left: 0;
}

.pagination__list {
  border-radius: 4px;
  border: 1px solid var(--lines-color);
  padding: 5px;
  background: var(--background, #f9f9f9);
}

.pagination__item:hover,
.pagination__item:focus {
  background: var(--lines-color);
}

.icon__left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: var(--line-color);
}

.icon__right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.current__page {
  background-color: var(--active);
  color: var(--white);
}

.icon__thumb {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.input-with-icon {
  position: relative;
}

.icon__search {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.filter__list {
  width: 284px;
  position: absolute;
  top: 155px;
  z-index: 2;
  background-color: var(--white);
  padding: 15px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
          box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
  border-radius: 10px;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.active__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter__list__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.filter__list__point {
  color: #656d8b;
  font-family: Futura;
  font-weight: 500;
  letter-spacing: -0.32px;
  position: relative;
}

.icon__info {
  position: absolute;
  margin-left: 7px;
}

.filter__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.filter__date__picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.date__input {
  width: 175px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #f4f5fb;
  background-color: #f4f5fb;
  color: #000;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
}

.date__input::-webkit-input-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.date__input::-moz-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.date__input:-ms-input-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.date__input::-ms-input-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.date__input::placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.date__input:focus {
  border: 2px solid var(--active);
  outline: none;
}

.date__button {
  border-radius: 8px;
  background-color: #f4f5fb;
  border: 2px solid #f4f5fb;
  width: 69px;
  height: 36px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.date__button:focus {
  border-color: var(--active);
}

.filter__date__label {
  color: rgba(101, 109, 139, 0.8);
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.fiter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.quantity__input__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.quantity__input {
  border-radius: 8px;
  border: 2px solid #e6e9f5;
  background: var(--White, #fff);
  width: 117px;
  height: 36px;
  padding: 8px 10px;
  color: #000;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
}

.quantity__input::-webkit-input-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
}

.quantity__input::-moz-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
}

.quantity__input:-ms-input-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
}

.quantity__input::-ms-input-placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
}

.quantity__input::placeholder {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
}

.quantity__input:focus {
  border: 2px solid var(--active);
  outline: none;
}

.line {
  width: 8px;
  height: 1.5px;
  background-color: #656d8b;
}

.apply__button {
  border-radius: 10px;
  background-color: #2583c6;
  border: 2px solid #2583c6;
  opacity: 0.6;
  height: 40px;
  width: 253px;
  padding: 8px 39px;
  text-align: center;
  color: #fff;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  cursor: pointer;
}

.apply__button:hover,
.apply__button:focus {
  background-color: #2583c6;
  opacity: 1;
}

.clear__button {
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #fff;
  height: 40px;
  width: 253px;
  padding: 8px 39px;
  text-align: center;
  color: #a1a5ba;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  cursor: pointer;
}

.visuallyhidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset 50%;
          clip-path: inset 50%;
  margin: -1px;
}

.checkbox {
  fill: transparent;
  stroke: #d6dae6;
  width: 18px;
  height: 18px;
}

.visuallyhidden:checked + .checkbox {
  background-image: url(../images/filled.svg);
  background-size: contain;
  stroke: transparent;
  background-origin: content-box;
  border-radius: 2px;
}

.checkbox__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.details-icon {
  fill: transparent;
  stroke: #a1a5ba;
  width: 24px;
  height: 24px;
}

.icon__left,
.icon__right {
  fill: transparent;
  stroke: #a1a5ba;
  width: 17px;
  height: 17px;
}

.icon-down {
  fill: transparent;
  stroke: #a1a5ba;
  width: 20px;
  height: 20px;
}

.icon__left:disabled,
.icon__right:disabled {
  stroke: #e7e9ed;
  fill: transparent;
}

.orders__list {
  width: 100%;
  padding: 15px 0px;
  grid-column: span 8;
}

.active-ordersList {
  display: block;
}

.inactive-ordersList {
  display: none;
}

.order__list__title {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.order__list__thumb {
  width: 100%;
  border-radius: 10px;
  background: #f4f5fb;
  padding: 5px 11px 5px 19px;
}

.order__list__table {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 4fr 1fr 1fr;
}

.order__item__title {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.order__item__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 15px 5px;
  border-bottom: 1px solid #d6dae6;
}

.order__item__number__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.order__item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
  border-bottom: 1px solid #d6dae6;
}

.order__item__part-number {
  color: #4398d3;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.order__item-field {
  color: #4c5272;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.item__sequence-number {
  color: #4c5272;
  font-family: Futura;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

.order__item__img {
  margin-right: 14px;
}

.order__item__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 0px;
  border-bottom: 1px solid #d6dae6;
}

.order__item__total__thumb {
  padding: 14px 0;
  grid-column: span 6;
}

.order__item__row {
  display: table-row;
}

.order__item__total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 0px;
}

.packing__table {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 2fr 1fr 1fr 1fr;
}

.chosen__quantity {
  border-radius: 8px;
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  width: 107px;
  height: 36px;
  padding: 8px 16px;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
}

.chosen__quantity:focus {
  border: 1px solid var(--active);
  outline: none;
}

.packing__checkbox {
  fill: rgba(0, 0, 0, 0);
  stroke: #d6dae6;
  width: 24px;
  height: 24px;
  margin-right: 11px;
}

.packing__item__img {
  width: 60px;
  height: 60px;
  margin-right: 21px;
}

.shipping__btn {
  padding: 14px 20px;
  width: 140px;
  padding: 14px 20px;
  border-radius: 10px 10px 0px 0px;
  border-color: transparent;
  background-color: #f4f5fb;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  color: rgba(74, 80, 112, 0.7);
  cursor: pointer;
}

.orders__packing__title {
  color: rgba(75, 81, 113, 0.6);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
}

.title__category {
  color: #4c5272;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 82, 115, 0.5);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}

.modal__title {
  color: #4c5272;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
}

.modal__title__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.modal__text {
  color: #656d8b;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

.modal__label {
  color: #4c5272;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.modal__input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 8px;
  border: 2px solid #e8e8e8;
  background-color: #fff;
  color: #a1a5ba;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.modal__input:focus {
  border: 2px solid var(--active);
  outline: none;
}

.confirm__btn {
  border-radius: 8px;
  padding: 14px;
  width: 124px;
  gap: 8px;
  color: #fff;
  text-align: center;
  font-family: Futura;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: #2583c6;
  border: 1px solid #2583c6;
  cursor: pointer;
}

.cancel__btn {
  border-radius: 8px;
  padding: 14px;
  width: 124px;
  gap: 8px;
  color: #656d8b;
  text-align: center;
  font-family: Futura;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

.icon__close {
  fill: transparent;
  stroke: #a1a5ba;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon__down {
  fill: transparent;
  stroke: #656d8b;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon__up {
  fill: transparent;
  stroke: #656d8b;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.quantity__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__input__thumb {
  position: relative;
}

.packing__item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 15px 0px;
  border-bottom: 1px solid #d6dae6;
}

.packing__item__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 15px;
  border-bottom: 1px solid #d6dae6;
}

.packing__item__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 50px 15px 0px;
  border-bottom: 1px solid #d6dae6;
}

.confirm-packages {
  border-radius: 10px;
  opacity: 0.6;
  background: #4398d3;
  border: 1px solid #4398d3;
  width: 227px;
  height: 40px;
  padding: 8px 39px;
  color: #fff;
  font-family: Futura;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  cursor: pointer;
}

.cancel-selection {
  border-radius: 10px;
  opacity: 0.6;
  background: transparent;
  border: 1px solid transparent;
  width: 227px;
  height: 40px;
  padding: 8px 39px;
  color: #a1a5ba;
  font-family: Futura;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  cursor: pointer;
}

.packing__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.packing__table__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75vh;
  width: 100%;
  overflow: auto;
  padding: 0 20px 18px 20px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
          box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
}

.devided-packing__list {
  width: 100%;
  padding: 8px 5px 18px 35px;
  grid-column: span 7;
}

.devided__list__title {
  color: #a1a5ba;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.devided__item__img {
  margin-right: 14px;
  width: 50px;
  height: 50px;
}

.devided__chosen__quantity {
  border-radius: 8px;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  width: 107px;
  height: 36px;
  padding: 8px 16px;
  color: #4c5272;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  position: relative;
}

.devided__chosen__quantity:focus {
  border: 1px solid var(--active);
  outline: none;
}

.icon-complete {
  fill: #0e8345;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.chosen__quantity__input {
  position: relative;
}

.devided-packing__thumb {
  width: 100%;
  border-radius: 10px;
  background: #f4f5fb;
  padding: 5px 11px 5px 19px;
}

.devided-packing__table {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 4fr 1fr 1fr;
}/*# sourceMappingURL=main.css.map */