.menu {
    width: 280px;
    height: 1080px;
    background-color: var(--menu-bg);

&__nav {
    margin-bottom: 1px;


    &__item {
        width: 220px;
height: 64px;
border-radius: 10px;
    }
}
}

.current {
    background-color: var(--main-textcolor);
}