.main__container {
  display: flex;
  background-color: var(--main-bg);
}

.menu {
  width: 280px;
  height: 1080px;
  padding: 30px;
  background-color: var(--menu-bg);

  &__nav {
    margin-bottom: 1px;

    &__item {
      width: 220px;
      height: 64px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 16px;
    }

    &__link {
      font-size: 13px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.325px;
      text-transform: uppercase;
      color: var(--menu-text);
    }
  }
}

.current {
  background-color: var(--main-textcolor);
}
