.orders {
  padding: 40px;
  height: 100vh;

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
  }

  &__all__btn {
    width: 140px;
    padding: 14px 20px;
    width: 140px;
    padding: 14px 20px;
    border-radius: 10px 10px 0px 0px;
    border-color: transparent;
    background-color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    color: var(--main-textcolor);
    cursor: pointer;
  }

  &__options__fields {
    display: flex;
    gap: 10px;
  }

  &__btns__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filter {
    width: 284px;
    height: 36px;
    padding: 10px;

    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &__box {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__option {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.35px;
      text-transform: uppercase;
      color: var(--main-textcolor);
      margin-bottom: 0;
    }

    &__search {
      width: 339px;
      height: 36px;
      padding: 8px 16px 8px 48px;
      border-radius: 10px;
      background-color: var(--white);
      border: 3px solid var(--white);
      cursor: pointer;
    }

    &__search:focus {
      border: 3px solid var(--active);
      outline: none;
    }
  }
}

.table__section {
  height: 880px;
  overflow: auto;
  background-color: var(--white);
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
}

.orders__table {
  width: 100%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;

  &__title {
    position: sticky;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: var(--secondary-textcolor);
    text-align: start;
    padding: 16px 20px;
    background-color: var(--white);
  }

  &__item {
    border-bottom: 1px solid var(--lines-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: var(--main-textcolor);
    padding: 16px 20px;
  }
}

.delivered {
  color: var(--green-status);
}

.cancelled {
  color: var(--red-status);
}

.details__btn {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  color: var(--secondary-textcolor);
  padding: 5px 15px;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.action__btn {
  padding: 8px 9px;
  width: 190px;
  border-radius: 10px;
  border: 2px solid var(--action-btn);
  color: var(--action-btn);
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  cursor: pointer;
}

tr:hover td {
  background-color: var(--main-bg);
  cursor: pointer;
}

.pagination {
  width: 100%;
  height: 47px;

  background-color: var(--white);
  border-radius: 0px 0px 10px 10px;
  padding: 12px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    color: var(--secondary-textcolor);
    font-size: 14px;
    font-weight: 500;
    line-height: 112.5%;
    margin-bottom: 0;
  }

  &__shown {
    display: flex;
    align-items: center;
  }

  &__page__quantity {
    display: flex;
    width: 62px;
    height: 24px;
    padding: 4px 5px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--line-color);
    background: var(--background, #f9f9f9);
    cursor: pointer;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__pages {
    color: var(--secondary-textcolor);
    font-size: 14px;
    font-weight: 500;
    line-height: 112.5%;
  }

  &__number {
    width: 24px;
    height: 24px;
    padding: 4px 10px;
    border-radius: 4px;
    background: var(--white);
    color: var(--secondary-text, #a1a5ba);
    font-size: 14px;
    font-weight: 400;
    line-height: 112.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}

.icon__left {
  transform: rotate(90deg);
  fill: var(--line-color);
}

.icon__right {
  transform: rotate(-90deg);
}

.current__page {
  background-color: var(--active);
  color: var(--white);
}

.icon__thumb {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-with-icon {
  position: relative;
}

.icon__search {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
