.orders {
  padding: 57px 40px 40px 40px;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
  }

  &__all__btn {
    width: 140px;
    padding: 14px 20px;
    width: 140px;
    padding: 14px 20px;
    border-radius: 10px 10px 0px 0px;
    border-color: transparent;
    background-color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    color: var(--main-textcolor);
    cursor: pointer;

    @media (max-width: 1200px) {
      width: 100px;
    }
  }

  &__all__btn:hover {
    background-color: var(--lines-color);
    border: 1px solid var(--menu-bg);
  }

  &__options__fields {
    display: flex;
    gap: 10px;
  }

  &__btns__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__filter {
    position: relative;
    width: 284px;
    height: 36px;
    padding: 10px;

    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @media (max-width: 1200px) {
      width: 150px;
    }

    &__box {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__option {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.35px;
      text-transform: uppercase;
      color: var(--main-textcolor);
      margin-bottom: 0;
    }

    &__search {
      width: 339px;
      height: 36px;
      padding: 8px 16px 8px 48px;
      border-radius: 10px;
      background-color: var(--white);
      border: 3px solid var(--white);
      cursor: pointer;

      @media (max-width: 1200px) {
        width: 150px;
      }
    }

    &__search:focus {
      border: 3px solid var(--active);
      outline: none;
    }
  }
}

.table__section {
  height: 75vh;
  width: 100%;
  overflow: auto;
  background-color: var(--white);
  box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
}

.orders__table {
  width: 100%;
  display: table;
  border-collapse: collapse;

  &__title {
    display: table-cell;
    position: sticky;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: var(--secondary-textcolor);
    text-align: start;
    padding: 16px 20px;
    background-color: var(--white);
  }

  &__head {
    display: table-row;
  }

  &__item {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: var(--main-textcolor);
    padding: 5px 20px;
    white-space: nowrap;
    display: table-cell;
  }

  &__row {
    display: table-row;
    align-items: center;
    border-bottom: 1px solid var(--lines-color);
  }
}

.delivered {
  color: var(--green-status);
}

.cancelled {
  color: var(--red-status);
}

.details__btn {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  color: var(--secondary-textcolor);
  padding: 5px 15px;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.details__btn:hover,
.details__btn:focus {
  background-color: var(--menu-bg);
}

.action__btn {
  padding: 8px 9px;
  width: 190px;
  border-radius: 10px;
  border: 2px solid var(--action-btn);
  color: var(--action-btn);
  background-color: var(--white);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.325px;
  text-transform: uppercase;
  cursor: pointer;
}

.action__btn:hover,
.action__btn:focus {
  color: var(--white);
  background-color: var(--action-btn);
  border-color: var(--white);
}

.orders__table__row:hover {
  background-color: var(--main-bg);
  cursor: pointer;
}

.pagination {
  width: 100%;
  height: 47px;

  background-color: var(--white);
  border-radius: 0px 0px 10px 10px;
  padding: 12px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    color: var(--secondary-textcolor);
    font-size: 14px;
    font-weight: 500;
    line-height: 112.5%;
    margin-bottom: 0;
  }

  &__shown {
    display: flex;
    align-items: center;
  }

  &__page__quantity {
    display: flex;
    width: 62px;
    height: 24px;
    padding: 4px 5px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--line-color);
    background: var(--background, #f9f9f9);
    cursor: pointer;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__pages {
    color: var(--secondary-textcolor);
    font-size: 14px;
    font-weight: 500;
    line-height: 112.5%;
  }

  &__number {
    width: 24px;
    height: 24px;
    padding: 4px 10px;
    border-radius: 4px;
    background: var(--white);
    color: var(--secondary-text, #a1a5ba);
    font-size: 14px;
    font-weight: 400;
    line-height: 112.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}

.icon__left {
  transform: rotate(90deg);
  fill: var(--line-color);
}

.icon__right {
  transform: rotate(-90deg);
}

.current__page {
  background-color: var(--active);
  color: var(--white);
}

.icon__thumb {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-with-icon {
  position: relative;
}

.icon__search {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.filter__list {
  width: 100%;
  position: absolute;
  top: 39px;
  left: 0;
  z-index: 2;
  background-color: var(--white);
  padding: 15px;
  display: none;
  box-shadow: 0px 3px 8px 0px rgba(76, 82, 114, 0.12);
  border-radius: 10px;
}

.filter__list__thumb {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.filter__list__point {
  color: #656d8b;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.date__input {
  width: 175px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #f4f5fb;
  background-color: #f4f5fb;
}

.date__button {
  border-radius: 8px;
  background-color: #f4f5fb;
  border: 2px solid #f4f5fb;
  width: 69px;
  height: 36px;
  padding: 16px;
}

.filter__item {
  color: var(--main-textcolor);

  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  padding: 10px;
}

.filter__item:hover {
  background-color: #a1a5ba;
}
